* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
}
header h1{
    font-size: 55px;
    color: white;
    text-align:center;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;

}

body{
    height: 100vh;
}

.divmain {
    display: flex;
    height: 82vh;
    background-color: #FFE4C4;
    justify-content: center;

}

.contenedor {
    margin-top: 3%;
    margin-right: 7%;
    height: 85%;
    width: 80%;
    display: flex;
    flex-flow: row;
}

.fotocarnet {
    display: block;
    height: 100%;
    width: 30%;
    background-image: url(fotocarnet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    border-radius: 10%;
}

.descripcion{
    margin-top: 1%;
    margin-left: 6%;
    color: black;
    line-height: 50px;
    font-size: 20px;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

strong{
    font-weight:900;
}

footer{
    display: flex;
    width: 100%;
    height: 90px;
    background-color: black;
    justify-content: center;
    align-items: center;
}

footer .logo{
    background-image: url(logouade.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 80px;
    width: 200px;

}

.menosinter{
    line-height: 18px;
}







@media (max-width:1920px){

    .fotocarnet {  
        height: 100%;
        width: 65%;
    }
}





@media (max-width:1440px){
    .descripcion{
        line-height: 45px;
    }
    .fotocarnet {
        height: 100%;
        width: 50%;
    }








}
@media (max-width:1024px){


    .fotocarnet {
        height: 100%;
        width: 65%;
    }



    .descripcion{
        margin-top: 2%;
        margin-left: 6%;
        color: black;
        line-height: 35px;
        font-size: 22px;
    }



    footer{
        height: 80px;
        justify-content: center;
        align-items: center;
    }

    footer .logo{

        height: 70px;
        width: 150px;
    }


    header h1{
        font-size: 45px;
    }

    header{
        height: 120px;
    }

}





@media (max-width:768px){

    .descripcion{
        font-size: 20px;
        margin-left: 0;
    }
    .contenedor {
        margin-top: 4%;
        margin-left: 10%;
        height: 95%;
        width: 90%;
        display: flex;
        flex-flow: column;
    }
    .fotocarnet {
        height: 100%;
        width: 100%;
    }
}



@media (max-width:425px){

    .descripcion{
        font-size: 16px;
        line-height: 26px;
    }
    
    .fotocarnet {
        height: 100%;
        width: 90%;
    }

    .menosinter{
        line-height: 15px;
    }



    header{
        height: 110px;
    }


    footer{
        width: 100%;
        height: 60px;

    }
    
    footer .logo{
        height: 50px;
        width: 120px;
    
    }



}